{{!--
Це код container файлу для facebook сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/facebook"
--}}

<div>

    <div>
        <h1>{{name}}</h1>
    </div>

    <ul>

        {{#each users}}

        <li>

            <div>
                <p><b>id: </b><span class="badge text-bg-info">{{id}}</span></p>
            </div>

            <div>
                <p><b>name: </b>{{name}}</p>
            </div>

            <div>
                <p><b>gender: </b>{{gender}}</p>
            </div>

            <div>
                <p><b>age: </b><span class="badge text-bg-info">{{age}}</span></p>
            </div>

            <div>
                <p><b><mark>Friends:</mark></b></p>
            </div>

            <ul>

                {{#each friends}}

                <li>

                    <div>
                        <p><b>id: </b><span class="badge text-bg-info">{{id}}</span></p>
                    </div>

                    <div>
                        <p><b>name: </b>{{name}}</p>
                    </div>

                    <div>
                        <p><b>gender: </b>{{gender}}</p>
                    </div>

                    <div>
                        <p><b>age: </b><span class="badge text-bg-info">{{age}}</span></p>
                    </div>

                    <div>
                        <p><em>Mutual friends:</em></p>
                    </div>

                    <ul>

                        {{#each mutual_friends}}

                        <li>

                            <div>
                                <p><b>id: </b><span class="badge text-bg-info">{{id}}</span></p>
                            </div>

                            <div>
                                <p><b>name: </b>{{name}}</p>
                            </div>

                            <div>
                                <p><b>gender: </b>{{gender}}</p>
                            </div>

                            <div>
                                <p><b>age: </b><span class="badge text-bg-info">{{age}}</span></p>
                            </div>

                            {{#if mutual_friends}}

                            <div>
                                <p><em>Mutual friends:</em></p>
                            </div>

                            <ul>

                                {{#each mutual_friends}}

                                <li>

                                    <div>
                                        <p><b>id: </b><span class="badge text-bg-info">{{id}}</span></p>
                                    </div>

                                    <div>
                                        <p><b>name: </b>{{name}}</p>
                                    </div>

                                    <div>
                                        <p><b>gender: </b>{{gender}}</p>
                                    </div>

                                    <div>
                                        <p><b>age: </b><span class="badge text-bg-info">{{age}}</span></p>
                                    </div>

                                </li>

                                {{/each}}

                            </ul>

                            {{/if}}

                        </li>

                        {{/each}}

                    </ul>

                    {{#if groups}}

                    <div>
                        <p><b>Groups:</b></p>
                    </div>

                    <ul>

                        {{#each groups}}

                        <li>

                            <div>
                                <p><b>id: </b><span class="badge text-bg-info">{{id}}</span></p>
                            </div>

                            <div>
                                <p><b>name: </b>{{name}}</p>
                            </div>

                            <div>
                                <p><b>description: </b>{{description}}</p>
                            </div>

                            <div>
                                <p><b>members:</b></p>
                            </div>

                            <ul>

                                {{#each members}}

                                <li>

                                    <div>
                                        <p><b>id: </b><span class="badge text-bg-info">{{id}}</span></p>
                                    </div>

                                    <div>
                                        <p><b>name: </b>{{name}}</p>
                                    </div>

                                    <div>
                                        <p><b>gender: </b>{{gender}}</p>
                                    </div>

                                    <div>
                                        <p><b>age: </b><span class="badge text-bg-info">{{age}}</span></p>
                                    </div>

                                </li>

                                {{/each}}

                            </ul>

                        </li>

                        {{/each}}

                    </ul>

                    {{/if}}

                </li>

                {{/each}}

            </ul>

            {{#if groups}}

            <div>
                <p><b><mark>Groups:</mark></b></p>
            </div>

            <ul>

                {{#each groups}}

                <li>

                    <div>
                        <p><b>id: </b><span class="badge text-bg-info">{{id}}</span></p>
                    </div>

                    <div>
                        <p><b>name: </b>{{name}}</p>
                    </div>

                    <div>
                        <p><b>description: </b>{{description}}</p>
                    </div>

                    <div>
                        <p><b>members:</b></p>
                    </div>

                    <ul>

                        {{#each members}}

                        <li>

                            <div>
                                <p><b>id: </b><span class="badge text-bg-info">{{id}}</span></p>
                            </div>

                            <div>
                                <p><b>name: </b>{{name}}</p>
                            </div>

                            <div>
                                <p><b>gender: </b>{{gender}}</p>
                            </div>

                            <div>
                                <p><b>age: </b><span class="badge text-bg-info">{{age}}</span></p>
                            </div>

                        </li>

                        {{/each}}

                    </ul>

                </li>

                {{/each}}

            </ul>

            {{/if}}

        </li>

        {{/each}}

    </ul>

</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/facebook.hbs
Адже наш layout/facebook.hbs має вже структуру HTML
--}}