{{!--
Це код container файлу для facebook сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/facebook"
--}}

<div class="p-5">

    <div class="mb-5">
        <h1>{{name}}</h1>
    </div>

    <div class="row g-4">

        {{#each users}}

        <div class="col-6">
            <div class="card h-100 p-4">

                <div>
                    <p><b>id: </b><span class="badge text-bg-info">{{id}}</span></p>
                </div>

                <div>
                    <p><b>name: </b>{{name}}</p>
                </div>

                <div>
                    <p><b>gender: </b>{{gender}}</p>
                </div>

                <div>
                    <p><b>age: </b><span class="badge text-bg-info">{{age}}</span></p>
                </div>

                <div>
                    <p><b><mark>Friends:</mark></b></p>
                </div>

                <div class="row g-4">

                    {{#each friends}}

                    <div class="col-12">
                        <div class="card h-100 p-4">

                            <div>
                                <p><b>id: </b><span class="badge text-bg-info">{{id}}</span></p>
                            </div>

                            <div>
                                <p><b>name: </b>{{name}}</p>
                            </div>

                            <div>
                                <p><b>gender: </b>{{gender}}</p>
                            </div>

                            <div>
                                <p><b>age: </b><span class="badge text-bg-info">{{age}}</span></p>
                            </div>

                            <div>
                                <p><em>Mutual friends:</em></p>
                            </div>

                            <div class="row g-4">

                                {{#each mutual_friends}}

                                <div class="col-6">
                                    <div class="card h-100 p-4">

                                        <div>
                                            <p><b>id: </b><span class="badge text-bg-info">{{id}}</span></p>
                                        </div>

                                        <div>
                                            <p><b>name: </b>{{name}}</p>
                                        </div>

                                        <div>
                                            <p><b>gender: </b>{{gender}}</p>
                                        </div>

                                        <div>
                                            <p><b>age: </b><span class="badge text-bg-info">{{age}}</span></p>
                                        </div>

                                        {{#if mutual_friends}}

                                        <div>
                                            <p><em>Mutual friends:</em></p>
                                        </div>

                                        <div class="row g-4">

                                            {{#each mutual_friends}}

                                            <div class="col-12">
                                                <div class="card h-100 p-4">

                                                    <div>
                                                        <p><b>id: </b><span class="badge text-bg-info">{{id}}</span></p>
                                                    </div>

                                                    <div>
                                                        <p><b>name: </b>{{name}}</p>
                                                    </div>

                                                    <div>
                                                        <p><b>gender: </b>{{gender}}</p>
                                                    </div>

                                                    <div>
                                                        <p><b>age: </b><span class="badge text-bg-info">{{age}}</span>
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>

                                            {{/each}}

                                        </div>

                                        {{/if}}

                                    </div>
                                </div>

                                {{/each}}

                            </div>

                            {{#if groups}}

                            <div>
                                <p><b>Groups:</b></p>
                            </div>

                            <div class="row g-4">

                                {{#each groups}}

                                <div class="col-6">
                                    <div class="card h-100 p-4">

                                        <div>
                                            <p><b>id: </b><span class="badge text-bg-info">{{id}}</span></p>
                                        </div>

                                        <div>
                                            <p><b>name: </b>{{name}}</p>
                                        </div>

                                        <div>
                                            <p><b>description: </b>{{description}}</p>
                                        </div>

                                        <div>
                                            <p><b>members:</b></p>
                                        </div>

                                        <div class="row g-4">

                                            {{#each members}}

                                            <div class="col-12">
                                                <div class="card h-100 p-4">

                                                    <div>
                                                        <p><b>id: </b><span class=" badge text-bg-info">{{id}}</span>
                                                        </p>
                                                    </div>

                                                    <div>
                                                        <p><b>name: </b>{{name}}</p>
                                                    </div>

                                                    <div>
                                                        <p><b>gender: </b>{{gender}}</p>
                                                    </div>

                                                    <div>
                                                        <p><b>age: </b><span class="badge text-bg-info">{{age}}</span>
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>

                                            {{/each}}

                                        </div>

                                    </div>
                                </div>

                                {{/each}}

                            </div>

                            {{/if}}

                        </div>
                    </div>

                    {{/each}}

                </div>

                {{#if groups}}

                <div>
                    <p><b><mark>Groups:</mark></b></p>
                </div>

                <div class="row g-4">

                    {{#each groups}}

                    <div class="col-12">
                        <div class="card h-100 p-4">

                            <div>
                                <p><b>id: </b><span class="badge text-bg-info">{{id}}</span></p>
                            </div>

                            <div>
                                <p><b>name: </b>{{name}}</p>
                            </div>

                            <div>
                                <p><b>description: </b>{{description}}</p>
                            </div>

                            <div>
                                <p><b>members:</b></p>
                            </div>

                            <div class="row g-4">

                                {{#each members}}

                                <div class="col-6">
                                    <div class="card h-100 p-4">

                                        <div>
                                            <p><b>id: </b><span class="badge text-bg-info">{{id}}</span></p>
                                        </div>

                                        <div>
                                            <p><b>name: </b>{{name}}</p>
                                        </div>

                                        <div>
                                            <p><b>gender: </b>{{gender}}</p>
                                        </div>

                                        <div>
                                            <p><b>age: </b><span class="badge text-bg-info">{{age}}</span></p>
                                        </div>

                                    </div>
                                </div>

                                {{/each}}

                            </div>

                        </div>
                    </div>

                    {{/each}}

                </div>

                {{/if}}

            </div>
        </div>

        {{/each}}

        </d>

    </div>

    {{!--
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/facebook.hbs
    Адже наш layout/facebook.hbs має вже структуру HTML
    --}}