{{!--
Це код container файлу для flexbox сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/flexbox"
--}}

<div class="p-5">

	<hr />
	<hr />

	<div class="display-1"><mark>Робота з гнучким позиціюванням</mark></div>

	<p>

	<pre>

	Що таке
	позиціювання?
	
	Позиціювання — це процес верстки, якій відповідає
	за розподілення елементів на сторінці інтерфейсу
	
	Основа задача при верстці це не лише відстилізувати
	контент, а ще якісно та масштабовано розмістити його
    
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Що таке гнучке
	позиціювання?
	
	Гнучке позиціювання (flexbox) — це сучасна технологія
	позиціювання в CSS, яка є альтернативою сіткової системи
	
	.example {
	display: flex;
	}
		
	display
	
	Значення Опис
	
	flex Елемент відображається як гнучкий блоковий контейнер
	
	inline-flex Елемент відображається як гнучкий рядковий контейнер

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Напрямок
	
	flex-direction — це CSS властивість, яка визначає напрямок,
	в якому розміщуються елементи flex-контейнера.
	
	.example {
	flex-direction: row;
	}
		
	flex-direction

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Напрямок
	
	Значення Опис
	
	row Горизонтально зліва направо

	row-reverse Горизонтально справа наліво

	column Вертикально зверху вниз

	column-reverse Вертикально знизу вгору

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Перенесення рядка
	
	flex-wrap — це CSS властивість, яка використовується для
	вказівки, чи можуть елементи переноситись на новий рядок
	
	.example {
	flex-wrap: wrap;
	}
		
	flex-wrap

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Перенесення рядка
	
	Значення Опис
	
	nowrap Елементи не можуть переноситься на наступний
		рядок або колонку і все розміщується в один рядок
	
	wrap Елементи можуть переноситись на наступний рядок
		або колонку, якщо це необхідно
	
	wrap-reverse Елементи можуть переноситись на наступний рядок
		або колонку у зворотному порядку

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Потік
	
	flex-flow — це CSS властивість, яка є скороченням
	для властивостей flex-direction та flex-wrap
	
	.example {
	flex-flow: column nowrap;
	}
	
	flex-flow

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Розміщення
	по основній лінії
	
	justify-content — це CSS властивість, яка відповідає
	за розміщення елементів по основній лінії
	
	.example {
	justify-content: center;
	}
		
	justify-content

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Розміщення
	по основній лінії
	
	Значення Опис
	
	flex-start Елементи вирівнюються на початку лінії

	flex-end Елементи вирівнюються в кінці лінії

	center Елементи вирівнюються по центру лінії

	space-between Елементи рівномірно розподіляються по лінії

	space-around
	
	Елементи рівномірно розподіляються
	по лінії з однаковими відстанями між ними
	та з меншим відступом від країв контейнера

	space-evenly Елементи рівномірно розподіляються по лінії з
		однаковими відстанями між елементами та країв блоку

	stretch Елементи розтягуються, щоб заповнити всю лінію

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Розміщення
	по другій лінії
	
	align-content — це CSS властивість, яка відповідає
	за розміщення елементів по другій лінії
	
	.example {
	align-content: center;
	}
		
	align-content
	
	align-content працює лише коли flex-wrap: wrap

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Розміщення
	по другій лінії
	
	Значення Опис
	
	flex-start Елементи вирівнюються на початку другої 
	
	flex-end Елементи вирівнюються в кінці другої лінії

	center Елементи вирівнюються по центру другої лінії

	stretch Елементи заповнюють всю другу лінію

	space-between Елементи рівномірно розподіляються по другій лінії

	space-around
	
	Елементи рівномірно розподіляються
	по другій лінії з однаковими відстанями між ними
	та з меншим відступом від країв контейнера

	space-evenly Елементи рівномірно розподіляються по лінії з
		однаковими відстанями між елементами та країв блоку

	baseline Елементи вирівнюються по лінії рядка тексту контейнера
		Працює лише коли задається для другої лінії
    
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Розміщення по лініях
	
	place-content — це CSS властивість, яка є скороченням
	для властивостей justify-content та align-content
	
	.example {
	place-content: flex-start center;
	}
		
	place-content

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Вирівнювання
	по другій лінії
	
	align-items — це CSS властивість, яка відповідає
	за вирівнювання елементів по другій лінії
	
	.example {
	align-items: center;
	}
		
	align-items
    
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Вирівнювання
	по другій лінії
	
	Значення Опис
	
	flex-start Елементи вирівнюються на початку другої лінії

	flex-end Елементи вирівнюються в кінці другої лінії

	center Елементи вирівнюються по центру другої лінії

	stretch Елементи розтягуються, щоб заповнити всю другу лінію

	baseline Елементи вирівнюються по лінії рядка тексту контейнера
    
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Індивідуальне вирів-
	нювання по другій лінії
	
	align-self — це CSS властивість, яка відповідає за індиві-
	дуальне вирівнювання певного елементів по другій лінії
	
	.example {
	align-self: center;
	}
	
	align-self
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Індивідуальне вирів-
	нювання по другій лінії
	
	Значення Опис
	
	flex-start Елемент вирівнюються на початку другої лінії

	flex-end Елементи вирівнюються в кінці другої лінії

	center Елементи вирівнюються по центру контейнера

	stretch Елементи розтягуються, щоб заповнити весь контейнер

	baseline Елементи вирівнюються по лінії рядка тексту контейнера
		Працює лише коли задається для другої лінії

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Початкова довжина
	елемента
	
	flex-basis — це CSS властивість, яка використовується
	для задання початкової довжини флекс елементів вздовж
	головної лінії. Ця властивість задається саме елементу
	
	.example {
	flex-basis: 100px;
	}
		
	flex-basis
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Початкова довжина
	елемента
	
	Значення Опис
	
	auto Значення за замовчуванням, елементи займають
		доступний простір рівномірно;
	
	довжина Встановлює ширину в пікселях, відсотках або інших
		одиницях виміру;
	
	content Визначає ширина контенту внутрішнього блоку
	
	fit-content Визначається ширина контенту внутрішнього блоку,
		якщо вона менша за доступний простір
	
	min-content Визначається мінімальна ширина контенту
		внутрішнього блоку;
	
	max-content Визначається максимальна ширина контенту
		внутрішнього блоку.

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Гнучке збільшення
	
	flex-grow — це CSS властивість, яка використовується
	для встановлення пропорційного збільшення
	довжини елементів по головній лінії
	
	.example {
	flex-grow: 1;
	}
	
	flex-grow
	
	Значення Опис
	
	число Вказує пропорцію доступного простору,
	
	який повинен зайняти елемент
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Гнучке зменшення
	
	flex-shrink — це CSS властивість, яка використовується
	для встановлення пропорційного зменшення
	довжини елементів по головній лінії
	
	.example {
	flex-shrink: 1;
	}
		
	flex-shrink
	
	Значення Опис
	
	число Вказує пропорцію доступного простору,
		на який повинен зменшитись елемент
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Гнучкість
	
	flex — це універсальна CSS властивість, яка
	використовується для задання гнучкості довжини елементів
	
	.example {
	flex: 1 30px;
	}
		
	flex
	
	Значення Опис
	
	G S B G — розтягування, S — стискання,
	
	B — початковий розмір гнучких елементів
	
	G flex-grow
	
	S flex-shrink
	
	B flex-basis
        
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Проміжок
	
	gap — це CSS властивість, яка використовується
	для встановлення проміжку між елементами
	
	.example {
	gap: 20px 10px;
	}
		
	gap
	
	Значення Опис
	
	R C R — проміжок між рядками
	С — проміжок між колонками
	
	R (row) row-gap
	
	C (column) column-gap

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Порядок
	
	order — це CSS властивість, яка використовується для
	зміни порядку розміщення елементів
	
	.example {
	order: 4;
	}
		
	order
	
	Значення Опис
	
	число Визначає пріоритет елемента
        
    </pre>

	</p>

	<hr />
	<hr />

	<div class="page">
		<div class="page_content">
			<header class="page_block">
				<div class="header">
					<div class="">
						{{> logo}}
					</div>

					<nav class="header_nav">
						<div class="header_nav_right">
							{{> navTemplate list=header}}
						</div>
					</nav>
				</div>

				{{!-- {{> divider}} --}}
			</header>

			<section class="page_block">
				<div class="hero">
					{{#with hero}}
					{{> hero title=title text=text}}
					<a class="button" href="{{button.url}}">{{button.text}}</a>
					{{/with}}
				</div>
			</section>

			<section class="page_block">
				<div class="flex-container">
					{{#each preview}}
					{{!-- <div class="flex-item"> --}}
						{{> cardPreview data=this class="flex-item"}}
						{{!-- </div> --}}
					{{/each}}
				</div>
			</section>

			<main class="page_block">
				<div class="main">
					<div class="row g-0">
						<div class="col-12">
							<div class="list_header">
								<div>
									<h2 class="list_title">List of posts</h2>
								</div>

								<div>
									<div class="category_list">
										{{#each categories}}
										<button class="category_button">{{text}}</button>
										{{/each}}
									</div>
								</div>
							</div>
						</div>

						<div class="col-7">
							<div class="list">
								{{#each news}}
								{{> cardPost data=this}}
								{{/each}}
							</div>
						</div>

						<div class="col-5">
							<aside class="list_aside">
								<div class="about">
									<h4 class="about_title">About</h4>
									<p class="about_text">{{about}}</p>
								</div>

								{{> linkList data=archive title="Archives"}}

								{{> linkList data=social title="Social"}}
							</aside>
						</div>
					</div>
				</div>
			</main>

			<footer class="page_block">
				{{!-- {{> divider}} --}}
				<div class="footer">
					<div>
						{{> logo}}
						<span class="footer_copyright">Copyright 2023-2024</span>
					</div>
					{{#each footer}}
					<div>
						<span class="footer_title">{{title}}</span>
						{{> navTemplate list=links isVertical=true}}
					</div>
					{{/each}}
				</div>
			</footer>
		</div>
	</div>

</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/flexbox.hbs
Адже наш layout/flexbox.hbs має вже структуру HTMLlist
--}}