{{!--
Це код container файлу для js сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/js"
--}}

<div class="p-5">
    <div>

        <div class="mb-5">
            <h1>{{name}}</h1>
        </div>


        <div>
            <p><b>Description:</b> {{description}}</p>
        </div>
        <hr class="my-4" />
        {{> title data="History:" big=false}}
        {{#with history}}
        <div>
            <div>
                <p><b>Year:</b> {{year}}</p>
            </div>
            <div>
                <p><b>Founder:</b> {{founder}}</p>
            </div>
        </div>
        {{/with}}
        <hr class="my-4" />
        {{> title data="Types:" big=false}}
        <ul>
            {{#each types}}
            <li class="badge text-bg-primary">{{this}}</li>
            {{/each}}
        </ul>
        <hr class="my-4" />
        {{> title data="Syntax:" big=false}}
        {{#with syntax}}
        <div class="row g-3">
            <div class="col-2">
                <div class="card p-3">
                    <div>
                        <p><b>Variables:</b></p>
                    </div>
                    <ul>
                        {{#each variables}}
                        <li class="badge text-bg-secondary">{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="col-2">
                <div class="card p-3">
                    <div>
                        <p><b>Functions:</b></p>
                    </div>
                    <ul>
                        {{#each functions}}
                        <li class="badge text-bg-secondary">{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="col-2">
                <div class="card p-3">
                    <div>
                        <p><b>Conditionals:</b></p>
                    </div>
                    <ul>
                        {{#each conditionals}}
                        <li class="badge text-bg-secondary">{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="col-2">
                <div class="card p-3">
                    <div>
                        <p><b>Loops:</b></p>
                    </div>
                    <ul>
                        {{#each loops}}
                        <li class="badge text-bg-secondary">{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="col-2">
                <div class="card p-3">
                    <div>
                        <p><b>Classes:</b></p>
                    </div>
                    <ul>
                        {{#each classes}}
                        <li class="badge text-bg-secondary">{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        {{/with}}
        <hr class="my-4" />
        <div>
            {{> title data="Features:" big=false}}
            <ul>
                {{#each features}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
        <hr class="my-4" />
        <div>
            {{> title data="Libraries:" big=false}}
            <ul>
                {{#each libraries}}
                <li class="badge text-bg-primary">{{this}}</li>
                {{/each}}
            </ul>
        </div>
        <hr class="my-4" />
        <div>
            {{> title data="Tools:" big=false}}
            <ul>
                {{#each tools}}
                <li class="badge text-bg-primary">{{this}}</li>
                {{/each}}
            </ul>
        </div>
        <hr class="my-4" />
        <div>
            {{> title data="Community:" big=false}}
            <div class="row g-4">
                {{#each community}}
                <div class="col-3">
                    <div class="card h-100 p-4">
                        <button type="button" class="btn btn-link">{{name}}</button>
                        <div>
                            <b>Type:</b> {{type}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/js.hbs
Адже наш layout/js.hbs має вже структуру HTML
--}}