{{!--
Це код container файлу для mac сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/mac"
--}}

<div class="p-5">

    <div class="mb-5">
        <h1>{{name}}</h1>
    </div>

    <div>
        <p>{{description}}</p>
    </div>

    <div>
        <p><b>Price: </b><span class="badge text-bg-warning">{{price}}</span></p>
    </div>

    <div>
        <p><b>Category: </b>{{category}}</p>
    </div>

    <hr class="my-5" />

    {{> title data="Features:" big=false}}

    {{#with features}}

    <div class="row g-4">
        <div class="col-3">
            <div class="card h-100 p-3">
                <div>
                    <h5><b>Processor:</b></p>
                </div>

                {{#with processor}}

                <div>
                    <p><b>Brand: </b>{{brand}}</p>
                </div>

                <div>
                    <p><b>Model: </b>{{model}}</p>
                </div>

                <div>
                    <p><b>Speed: </b>{{speed}}</p>
                </div>

                <div>
                    <p><b>Cores: </b><span class="badge text-bg-info">{{cores}}</span></p>
                </div>

                <div>
                    <p><b>Cache: </b>{{cache}}</p>
                </div>

                {{/with}}
            </div>
        </div>

        <div class="col-3">
            <div class="card h-100 p-3">
                <div>
                    <h5><b>Memory:</b></p>
                </div>

                {{#with memory}}

                <div>
                    <p><b>Type: </b>{{type}}</p>
                </div>

                <div>
                    <p><b>Size: </b>{{size}}</p>
                </div>

                <div>
                    <p><b>Speed: </b>{{speed}}</p>
                </div>

                {{/with}}
            </div>
        </div>

        <div class="col-3">
            <div class="card h-100 p-3">
                <div>
                    <h5><b>Storage:</b></p>
                </div>

                {{#with storage}}

                <div>
                    <p><b>Type: </b>{{type}}</p>
                </div>

                <div>
                    <p><b>Size: </b>{{size}}</p>
                </div>

                {{/with}}
            </div>
        </div>

        <div class="col-3">
            <div class="card h-100 p-3">
                <div>
                    <h5><b>Display:</b></h5>
                </div>

                {{#with display}}

                <div>
                    <p><b>Size: </b>{{size}}</p>
                </div>

                <div>
                    <p><b>Resolution: </b>{{resolution}}</p>
                </div>

                <div>
                    <p><b>Technology: </b>{{technology}}</p>
                </div>

                <div>
                    <p><b>Color space: </b>{{color_space}}</p>
                </div>

                <div>
                    <p><b>Brightness: </b>{{brightness}}</p>
                </div>

                <div>
                    <p><b>Refresh rate: </b>{{refresh_rate}}</p>
                </div>

                {{/with}}
            </div>
        </div>

        <div class="col-3">
            <div class="card h-100 p-3">
                <div>
                    <h5><b>Graphics:</b></h5>
                </div>

                {{#with graphics}}

                <div>
                    <p><b>Brand: </b>{{brand}}</p>
                </div>

                <div>
                    <p><b>Model: </b>{{model}}</p>
                </div>

                <div>
                    <p><b>Memory: </b>{{memory}}</p>
                </div>

                {{/with}}
            </div>
        </div>

        <div class="col-3">
            <div class="card h-100 p-3">
                <div>
                    <h5><b>Ports:</b></h5>
                </div>

                <div class="row g-4">

                    {{#each ports}}

                    <div class="col-12">
                        <div class="card p-4">

                            <div>
                                <p><b>Type: </b>{{type}}</p>
                            </div>

                            <div>
                                <p><b>Count: </b><span class="badge text-bg-info">{{count}}</span></p>
                            </div>

                            {{#if features}}

                            <div>
                                <p><b>Features:</b></p>
                            </div>

                            <ul>

                                {{#each features}}

                                <li>
                                    {{this}}
                                </li>

                                {{/each}}

                            </ul>

                            {{/if}}

                        </div>
                    </div>

                    {{/each}}

                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card h-100 p-3">
                <div>
                    <h5><b>Battery:</b></p>
                </div>

                {{#with battery}}

                <div>
                    <p><b>Type: </b>{{type}}</p>
                </div>

                <div>
                    <p><b>Capacity: </b>{{capacity}}</p>
                </div>

                <div>
                    <p><b>Life: </b>{{life}}</p>
                </div>

                {{/with}}
            </div>
        </div>

        <div class="col-3">
            <div class="card h-100 p-3">
                <h5><b>Weight: </b>{{weight}}</h5>
            </div>
        </div>

        <div class="col-3">
            <div class="card h-100 p-3">

                <div>
                    <h5><b>Dimensions:</b></h5>
                </div>

                {{#with dimensions}}

                <div>
                    <p><b>Height: </b>{{height}}</p>
                </div>

                <div>
                    <p><b>Width: </b>{{width}}</p>
                </div>

                <div>
                    <p><b>Depth: </b>{{depth}}</p>
                </div>

                {{/with}}
            </div>
        </div>

        <div class="col-3">
            <div class="card h-100 p-3">
                <h5><b>Operating system: </b>{{operating_system}}</h5>
            </div>
        </div>

        <div class="col-3">
            <div class="card h-100 p-3">

                <h5><b>Accessories:</b></h5>

                <div class="row g-4">

                    {{#each accessories}}

                    <div class="col-12">
                        <div class="card h-100 p-4">

                            <div>
                                <p><em>{{name}}</em></p>
                            </div>

                            <div>
                                <p><b>Price: </b><span class="badge text-bg-warning">{{price}}</span></p>
                            </div>

                        </div>
                    </div>

                    {{/each}}

                </div>
            </div>
        </div>
    </div>

    {{/with}}

</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/mac.hbs
Адже наш layout/mac.hbs має вже структуру HTML
--}}