{{!--
Це код container файлу для program сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/program"
--}}

<div class="p-5">
    {{#with program}}
    {{#with excursion}}
    <div>
        <div class="mb-5">
            <h1>{{name}}</h1>
        </div>
        <hr class="my-5" />
        {{> title data="Location:" big=false}}
        {{#with location}}
        <div>
            <div>
                <p><b>City:</b> {{city}}</p>
            </div>
            <div>
                <p><b>Country:</b> {{country}}</p>
            </div>
        </div>
        {{/with}}
        <div>
            <p><b>Date:</b> {{date}}</p>
        </div>
        <hr class="my-5" />
        {{> title data="Program:" big=false}}
        <div class="row g-4">
            {{#each program}}
            <div class="col-6">
                <div class="card h-100 p-4">

                    <div>
                        <div class="mb-4">
                            <h5 class="text-info"><b>{{name}}</b></h5>
                        </div>

                        <div>
                            <p><b>Type:</b> {{type}}</p>
                        </div>

                        <div>
                            <p><b>Duration:</b> {{duration}}</p>
                        </div>

                        {{#with details}}
                        <div>

                            {{#if museum}}
                            <div>
                                <div class="mb-3">
                                    <em>Museum:</em>
                                </div>
                                {{#with museum}}
                                <div>
                                    <div>
                                        <h5><b>{{name}}</b></h5>
                                    </div>
                                    {{#with location}}
                                    <div>
                                        <div>
                                            <p><b>Address:</b> {{address}}</p>
                                        </div>
                                        <div>
                                            <p><b>City:</b> {{city}}</p>
                                        </div>
                                        <div>
                                            <p><b>Country:</b> {{country}}</p>
                                        </div>
                                    </div>
                                    {{/with}}
                                    <div class="mb-3">
                                        <em>Exhibits:</em>
                                    </div>
                                    <div class="row g-4">
                                        {{#each exhibits}}
                                        <div class="col-6">
                                            <div class="card h-100 p-3">
                                                <div class="mb-3">
                                                    <b>{{name}}</b>
                                                </div>
                                                {{#if artist}}
                                                <div>
                                                    <p>Artist: {{artist}}</p>
                                                </div>
                                                {{/if}}
                                                <div>
                                                    <p>Description: {{description}}</p>
                                                </div>
                                                <div>
                                                    <div>Audio guide: <span
                                                            class="badge text-light text-bg-primary rounded-pill mb-3">{{audio_guide}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                                {{/with}}
                            </div>
                            {{/if}}

                            {{#if venue}}
                            <div>
                                <div class="mb-3">
                                    <em>Venue:</em>
                                </div>
                                {{#with venue}}
                                <div>
                                    <div>
                                        <h5><b>{{name}}</b></h5>
                                    </div>
                                    {{#with location}}
                                    <div>
                                        <div>
                                            <p><b>Address:</b> {{address}}</p>
                                        </div>
                                        <div>
                                            <p><b>City:</b> {{city}}</p>
                                        </div>
                                        <div>
                                            <p><b>Country:</b> {{country}}</p>
                                        </div>
                                    </div>
                                    {{/with}}
                                </div>
                                {{/with}}
                            </div>
                            {{/if}}

                            {{#if performers}}
                            <div>
                                <div class="mb-3">
                                    <em>Performers:</em>
                                </div>
                                <div class="row g-4">
                                    {{#each performers}}
                                    <div class="col-6">
                                        <div class="card h-100 p-3">
                                            <div>
                                                <b>{{name}}</b>
                                            </div>
                                            <div>
                                                <div>{{type}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                            {{/if}}

                            <div class="my-3">
                                <em>Guide:</em>
                            </div>
                            {{#with guide}}
                            <div>
                                <div class="mb-3">
                                    <b>{{name}}</b>
                                </div>
                                <div>
                                    <div>Language: <span
                                            class="badge text-light text-bg-primary rounded-pill mb-3">{{language}}</span>
                                    </div>
                                </div>
                                <div>
                                    <div>Rating: <span
                                            class="badge text-light text-bg-primary rounded-pill mb-3">{{rating}}</span>
                                    </div>
                                </div>
                            </div>
                            {{/with}}
                        </div>
                        {{/with}}

                    </div>

                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{/with}}
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/program.hbs
Адже наш layout/program.hbs має вже структуру HTML
--}}