{{!--
Це код container файлу для task22 сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/task22"
--}}

<div>

    {{#with page_header}}


    <h1 class="text-center">{{title}}</h1>

    <p class="text-uppercase text-center">{{description}}</p>

    {{/with}}

    {{#with section}}

    <div class="card">
        <div class="card-body">

            {{#with about_us}}

            {{#with title_list}}

            <div class="display-6 text-end">{{main}}</div>

            <br />

            <h2 class="text-end">{{sub}}</h2>

            {{/with}}

            {{#with button}}

            <button class="btn btn-outline-info">{{text}}</button>

            {{/with}}

            {{/with}}

        </div>
    </div>

    <br />

    <div class="card">
        <div class="card-body">

            {{#with advantage}}

            <div class="display-5 text-secondary">{{title}}</div>

            <br />

            <div class="card">
                <div class="card-body">

                    {{#with efficiency}}

                    <div class="display-4 text-secondary">{{title}}</div>

                    <br />

                    <h6>{{sub_title}}</h6>

                    <p>{{description}}</p>

                    <button class="btn btn-outline-warning">{{button}}</button>

                    {{/with}}

                </div>
            </div>

            <br />

            <div class="card">
                <div class="card-body">

                    {{#with innovation}}

                    <div class="display-4 text-secondary text-center">{{title}}</div>

                    <br />

                    <h6 class="text-center">{{sub_title}}</h6>

                    <p class="text-center">{{description}}</p>

                    <button class="btn btn-outline-warning">{{button}}</button>

                    {{/with}}

                </div>
            </div>

            <div class="card">
                <div class="card-body">

                    {{#with collaboration}}

                    <div class="display-4 text-secondary text-end">{{title}}</div>

                    <br />

                    <h6 class="text-end">{{sub_title}}</h6>

                    <p class="text-end">{{description}}</p>

                    <button class="btn btn-outline-warning">{{button}}</button>

                    {{/with}}

                </div>
            </div>

            {{/with}}

        </div>
    </div>

    <br />

    <div class="card">
        <div class="card-body">

            {{#with agreement}}

            <div class="display-5">{{title}}</div>

            <br />

            <div class="card">
                <div class="card-body">

                    {{#with info}}

                    <h5>{{sub_title}}</h5>

                    <br />

                    <div class="card">
                        <div class="card-body">

                            {{#with detail}}

                            <p>{{text}}</p>

                            <button class="btn btn-success">{{button}}</button>

                            {{/with}}

                        </div>
                    </div>

                    {{/with}}

                </div>
            </div>

            {{/with}}

        </div>
    </div>



    {{/with}}

</div>

<br />
{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/task22.hbs
Адже наш layout/task22.hbs має вже структуру HTML
--}}