{{!--
Це код container файлу для units сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/units"
--}}

<div class="p-5">

	<hr />
	<hr />

	<div class="display-1"><mark>CSS правила та одиниці вимірювання</mark></div>

	<p>

	<pre>

	Стан пристрою
	
	@media — це CSS правило, яке використовується для
	визначення стилів для різних типів пристроїв та їх станів
	
	@media all and (min-width: 300px) {
	.button {
	background-color: red;
	}
	}
	
	@media &lt;type&gt;
		&lt;condition&gt;
			&lt;rule&gt; ( ) ...
	
				type — це значення типу пристрою
				condition — логічний зв’язок
				rule — це значення стану пристрою
    
	Типи пристрою
	
	Значення Опис
	
	all Застосовує стилі до всіх типів пристроїв і умов екрана
	
	print Застосовує стилі до документів, які призначені для друку
	
	screen Застосовує стилі до екранів пристроїв

	Логічні зв’язки
	
	Значення Опис
	
	and Поєднує умови між собою обираючи пристрої,
	
	які мають всі зазначенні параметри
	
	not Заперечує умову
	
	, Об’єднує параметри

	Значення стану
	
	Значення Опис
	
	width Вказує ширину екрану пристрою
	
	max-width Вказує максимальну ширину екрану пристрою
	
	min-width Вказує мінімальну ширину екрану пристрою
	
	height Вказує висоту екрану пристрою
	
	max-height Вказує максимальну висоту екрану пристрою
	
	min-height Вказує мінімальну висоту екрану пристрою

	Оператори
	порівняння
	
	Значення Опис
	
	a &gt; b Більше
	
	a &lt; b Менше
	
	a &gt;= b Більше або дорівнює
	
	a &lt;= b Менше або дорівнює

	Значення стану
	
	Значення Опис
	
	orientation
	
	Вказує орієнтацію пристрою
	
	Може набувати значення:
	portrait — вертикальна
	landscape — горизонтальна

	Значення стану
	
	Значення Опис
	
	color-index
	
	Вказує індексовий колір.
	
	Може набувати значення:
	auto — вказує на автоматичне визначення колірної
	глибини
	none — вказує на те, що пристрій має монохромне
	відображення без можливості відтворення кольорів
	число — вказує на число кольорів, які може відтворити
	пристрій

	Значення стану
	
	Значення Опис
	
	hover
	
	Вказує підтримку механізмів або приладів вводу з
		можливістю наведення на елемент
	
		Може набувати значення:
	
	none — не може навести на елемент
	hover — може навести на елемент

	Значення стану
	
	Значення Опис
	
	any-hover
	
	Вказує підтримку додаткових механізмів або приладів вводу з
	можливістю наведення на елемент
	
	Може набувати значення:
	none — не може навести на елемент
	hover — може навести на елемент

	Значення стану
	
	Значення Опис
	
	pointer
	
	Вказує підтримку основного пристрою, який надає
	можливість двигати курсором (миша або стилус)
	
	Може набувати значення:
	none — відсутність введення
	coarse — грубе введення, наприклад, пальці на
	сенсорному екрані
	fine — дотик введення, наприклад, курсор миші або
	стилус

	Значення стану
	
	Значення Опис
	
	any-pointer
	
	Вказує підтримку додаткових пристроїв, які надають
	можливість двигати курсором (миша або стилус)
	
	Може набувати значення:
	none — відсутність введення  
	coarse — грубе введення, наприклад, пальці на
	сенсорному екрані
	fine — дотик введення, наприклад, курсор миші або
	стилус

	Значення стану
	
	Значення Опис
	
	aspect-ratio
	
	Вказує співвідношення сторін області відображення браузера
	
	Може набувати значення:
	відносні значення — вказують відношення ширини до
	висоти у вигляді "ширина/висота", наприклад, 16/9
	абсолютні значення — вказують конкретне значення
	ширини та висоти в пікселях або інших одиницях виміру

	Значення стану
	
	Значення Опис
	
	color
	
	Вказує потрібну підтримку кольорів
	
	Може набувати значення:
	none — не відображає жодного кольору і може
	використовуватися" наприклад" для друку в чорно-білому
	варіанті.
	monochrome — відображає тільки два кольори - чорний та
	білий.
	grayscale — відображає відтінки сірого кольору.
	колір — відображає повний спектр кольорів.

	Значення стану
	
	Значення Опис
	
	color-gamut
	
	Вказує потрібний гамма-профіль
	
	Може набувати значення:
	srgb — використовує стандартний діапазон кольорів sRGB
	p3 — використовує діапазон кольорів DCI-P3, який
	зазвичай икористовується для відео та графіки на
	пристроях з Retina-екранами
	rec2020 — використовує діапазон кольорів ITU-R
	Recommendation BT.2020, який зазвичай
	використовується для відео з високою динамічною
	діапазоном

	Значення стану
	
	Значення Опис
	
	display-mode
	
	Вказує режими вікна
	
	Може набувати значення:
	fullscreen — сторінка відображається на весь екран
	standalone — сторінка відображається в окремому вікні
	без будь-яких інтерфейсних елементів браузера
	minimal-ui — мінімізованний браузерний інтерфейс, який
	забезпечує більше простору для сторінки
	browser — сторінка відображається в браузері
	window-controls-overlay — сторінка відкривається в
	оболонці браузера, має вигляд як ПК додаток

	Значення стану
	
	Значення Опис
	
	dynamic-range
	
	Вказує підтримку HDR
	
	Може набувати значення:
	standard — перевіряє HDR на всіх візуальних
	пристроях
	high — перевіряє HDR на всіх візуальних пристроях,
	які мають високий HDR

	Значення стану
	
	Значення Опис
	
	forced-colors
	
	Вказує підтримку певних кольорових палітр.
	
	Може набувати значення:
	none — не застосовує жодного обов'язкового кольору,
	якщо користувач включив цей режим
	active — використовує обов'язкові кольори для всіх
	елементів на сторінці, навіть якщо це не передбачено
	за замовчуванням

	Значення стану
	
	Значення Опис
	
	grid
	
	Вказуэ підтримку екрана на основі сітки
	(наприклад, термінали та старі телефони)
	
	Може набувати значення:
	0 — не підтримує
	1 — підтримує

	Значення стану
	
	Значення Опис
	
	monochrome
	
	Вказує підтримку монохромного режиму
	
	Може набувати значення:
	0 — елемент не має стилю монохромності
	ціле число — елемент має вказаний тип монохромності

	Значення стану
	
	Значення Опис
	
	prefers-color-scheme
	
	Вказує на певну схему теми кольорів інтерфейсу
	
	Може набувати значення:
	light — перевага інтерфейсу зі світлою темою
	dark — перевага інтерфейсу з темною темою

	Значення стану
	
	Значення Опис
	
	prefers-contrast
	
	Вказує рівень контрастності
	
	Може набувати значення:
	no-preference — користувач не має вказань щодо
	контрастності
	more — перевага інтерфейсу з вищим рівнем
	контрастності
	less — перевага інтерфейсу з нижчим рівнем
	контрастності
	custom — користувач створює контраст інтерфейсу
	сам на основі свої палітри кольорів, вони не
	відповідають ні , more ні less

	Значення стану
	
	Значення Опис
	
	resolution
	
	Вказує щільність пікселів пристрою виводу
	
	Може набувати значення:
	C &lt;resolution&gt; — значення щільність пікселів

	Значення стану
	
	Значення Опис
	
	color-index
	
	Вказує підтримку індексованого кольору
	
	Може набувати значення:
	auto — вказує на автоматичне визначення колірної
		глибини
	none — вказує на те, що пристрій має монохромну
		відображення без можливості відтворення кольорів
	число — вказує на число кольорів, які може відтворити
		пристрій

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Стан контейнера
	
	@container — це CSS правило, яке використовується
	для визначення властивостей контейнера на певному стані
	
	@container header (width &gt;= 920px) {
	max-width: 1200px;
	margin: 0 auto;
	}
	
	@container &lt;name&gt;
		&lt;rule&gt;
			&lt;condition&gt;
				&lt;rule&gt; ( ) ( ) ...
	
					name — це назва контейнера
					condition — логічний зв’язок
					rule — це значення стану контейнера

	Значення стану
	
	Значення Опис
	
	aspect-ratio
	
	Визначає співвідношення сторін контейнера
	
	Може набувати значення:
	&lt;ratio&gt; — пропорція сторін контейнера
	
	orientation
	
	Визначає орієнтацію контейнера.
	
	Може набувати значення:
	portrait — вертикальнa
	landscape — горизонтальна

	Значення стану
	
	Значення Опис
	
	height Визначає висоту контейнера
	
	width Визначає ширину контейнера
	
	inline-size Визначає горизонтальний розмір (ширину) контейнера
	
	block-size Визначає вертикальний розмір (висоту) контейнера

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Тип контейнера
	
	container-type — це CSS властивість, яка використовується
	для визначення формату обрахунку довжини контейнера
	
	.example {
	container-type: size;
	}
		
	container-type
	
	Значення Опис
	
	size Визначає розмір контейнера по висоті та ширині
	
	inline-size Визначає розмір контейнера по ширині
	
	normal Значення за замовчуванням

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Назва контейнера
	
	container-name — це CSS властивість, яка вказує назву-
	ідентифікатор контейнера для CSS правила @container
	
	.example {
	container-name: header;
	container-type: size;
	}
		
	container-name
	
	Значення Опис
	
	назва контейнера Визначає ідентифікатор контейнера.
		Регістр враховується

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Каскадний рівень
	
	@layer — це CSS правило, яке використовується для
	визначення каскадного рівня, який буде визначати
	пріоритетність властивостей в каскадній системі CSS
	
	@layer buttons, cards;
	
	@layer buttons {
	.button {
	background-color: # ff0000;
	}
	}
	
	@layer &lt;name&gt;

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Кодування символів
	
	@charset — це CSS правило, яке використовується для
	визначення кодування символів для файлу CSS
	
	@charset "UTF-8";
	
	body {
	font-family: Arial, sans-serif;
	color: # 333;
	}
	
	@charset &lt;name&gt;

	Кодування символів
	
	Значення Опис
	
	UTF-8 Використовується для кодування UTF-8,
	яке підтримує широкий діапазон символів
	
	UTF-16 Використовується для кодування UTF-16,
	яке підтримує ще більший діапазон символів
	
	ISO-8859-1
	
	Використовується для кодування ISO-8859-1,
	яке підтримує латинські символи
	та деякі символи з інших алфавітів
	
	&lt;name&gt; Вказує будь-які інші назви формату кодування символів

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Опис шрифтів
	
	@font-face — це CSS правило, яке використовується для
	опису шрифтів, які можуть бути використані на веб-сторінці
	
	@font-face {
	font-family: "Segment";
	src: url("/font/Segment-SemiBold.otf");
	font-weight: 600;
	font-style: normal;
	/* інші значення */
	}
		
	@font-face
	
	Значення Опис
	
	local Шукає локальний файл шрифта
	
	format Вказує формат файлу шрифта

	Тестовий шрифт
	
	Для того, щоб протестувати властивість font-face,
	вам потрібно завантажити шрифти та підключити їх
	https://github.com/it-brains-ua/css/tree/font/public/font

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Підтримка
	CSS-властивості
	
	@supports — це CSS правило, яке дає можливість
	виконувати певні властивості лише в тому випадку,
	якщо вони працюють в браузері користувача
	
	@supports (display: grid) {
	.container {
	display: grid;
	}
	}
	
	@supports (property: value)
	
	property — це властивість
	value — це значення властивості

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Імпортування
	CSS-файлів
	
	@import — це CSS правило, яке використовується для
	імпортування CSS-файлів у інші CSS-файли
	
	@import url("custom.css");
	
	@import url("print.css") print;
	
	@import url("btn.css") layer(button);
		
	@import url("adaptive.css")
	all and (max-width: 600px)
	layer(mobile);
	
	@import url(&lt;path&gt;) &lt;media-queries&gt; &lt;layer-name&gt;
	
		path — це шлях до файлу, media-queries — це медіа запит
		layer-name — це назва каскадного рівння

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Абсолютні
	одиниці вимірювання
	
	Значення Опис
	
	px Піксель
	
	mm Міліметри
	
	cm Сантиметри
	
	in (inch) Дюйми
	
	pt (point) Використовується для друку, де 1pt = 1/72 дюйма
	
	pc (pica) Використовується для друку, де 1pc = 12pt

    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Відносні
	одиниці вимірювання
	
	Значення Опис
	
	ex
	
	Використовується для виміру розміру шрифту відносно висоти
	малих літер у шрифті. Значення 1ex еквівалентно висоті літери
	"x" в даному шрифті
	
	em Визначається відносно розміру шрифту батьківського елемента
	
	rem Визначається відносно розміру шрифту кореневого елемента
	
	(&lt;html&gt; або &lt;body&gt;)
	
	% Відсоток від розміру батьківського елемента
	
	fr Одиниця виміру в grid

	Відносні
	одиниці вимірювання
	
	Значення Опис
	
	vh Відсотки від висоти вікна браузера
	
	vw Відсотки від ширини вікна браузера
	
	vmin Відсотки від мінімального розміру висоти або ширини вікна
	
	vmax Відсотки від максимального розміру висоти або ширини вікна
    
    </pre>

	</p>

	<hr />
	<hr />

	<p>

	<pre>

	Сучасні
	одиниці вимірювання
	
	Значення Опис
	
	svh Відсотки від висоти мінімального розміру екрана
	
	lvh Відсотки від мінімальної висоти вікна перегляду
	
	dvh Відсотки від висоти вікна пристрою
	
	svw Відсотки від ширини мінімального розміру екрана
	
	lvw Відсотки від мінімальної ширини вікна перегляду
	
	dvw Відсотки від ширини вікна пристрою
	
	svmin Відсотки від мінімального розміру екрана
	
	lvmin Відсотки від мінімального розміру вікна перегляду
	
	dvmin Відсотки від мінімального розміру вікна пристрою

	Сучасні
	одиниці вимірювання
	
	Значення Опис
	
	svmax Відсотки від максимального розміру екрану
	
	lvmax Відсотки від максимального розміру вікна перегляду
	
	dvmax Максимальна відносна висота пристрою з урахуванням
		плаваючих елементів
	
	vi Відсотки від видимої висоти вікна перегляду
	
	svi Відсотки від видимої висоти мінімального розміру екрану
	
	lvi Відсотки від видимої висоти мінімального розміру вікна
		перегляду
	
	dvi Відносна висота пристрою з урахуванням плаваючих елементів

	Сучасні
	одиниці вимірювання
	
	Значення Опис
	
	vb Відсотки від видимої ширини вікна перегляду
	
	svb Відсотки від видимої ширини мінімального розміру екрану
	
	lvb Відсотки від видимої ширини мінімального розміру вікна
	
	dvb Відносна ширина пристрою з урахуванням плаваючих елементів

	Сучасні
	одиниці вимірювання
	
	Значення Опис
	
	cqw Відсотки від ширини контейнера
	
	cqh Відсотки від висоти контейнера
	
	cqmax Відсотки від найбільшного значення cqw або cqh
	
	cqmin Відсотки від найменьшого значення cqw або cqh
	
	cqi Відсотки від горизонтальної ширини контейнера
	
	cqb Відсотки від вертикальної ширини контейнера

    </pre>

	</p>

	<hr />
	<hr />

</div>

{{!-- <div class="page"> --}}
	{{!-- <div class="page_content"> --}}
		<header class="header">
			{{!-- <div class="">
				{{> logo}}
			</div> --}}
			<a href="#test">
				{{> logo}}
			</a>

			<nav class="header_nav">
				<div class="header_nav_right">
					{{> navTemplate list=header}}
				</div>
			</nav>
		</header>

		{{#with hero}}
		<div class="hero_container">
			<div class="hero">
				<div class="hero_content">
					<h1 class="hero_title">{{title}}</h1>
					<p class="hero_text">{{text}}</p>
				</div>
				<div class="hero_slider">
					<div class="hero_slider_icon hero_slider_left">{{left}}</div>
					<img src="{{photo}}" alt="Hero image" class="hero_image">
					<div class="hero_slider_icon hero_slider_right">{{right}}</div>
				</div>
			</div>
		</div>
		{{/with}}

		{{!-- <div class="modal">
			{{hero.text}} {{hero.text}}
			<div class="modal_text">
				{{hero.text}} {{hero.text}}
			</div>
		</div> --}}

		<main class="blog">
			{{#each blog}}
			{{> cardBlog data=this}}
			{{/each}}
		</main>

		{{#with form}}
		<div class="form">
			<div class="form_content">
				<h3 class="form_title">{{title}}</h3>
				{{!-- <p class="form_info">{{info}}<span class="ex">x</span></p> --}}
				<p class="form_info">{{info}}</p>
			</div>
			<div class="form_action">
				<a href="{{href}}" class="button form_button">{{button}}</a>
			</div>
		</div>
		{{/with}}

		<footer class="footer" id="test">
			<div>
				{{> logo}}
				<span class="footer_copyright">Copyright 2023-2024</span>
			</div>
			{{#each footer}}
			<div>
				<span class="footer_title">{{title}}</span>
				{{> navTemplate list=links isVertical=true}}
			</div>
			{{/each}}
		</footer>

		{{!-- <div class="test">Test</div> --}}
		{{!--
	</div> --}}
	{{!-- </div> --}}

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/units.hbs
Адже наш layout/units.hbs має вже структуру HTMLlist
--}}