{{!--
Це код container файлу для web сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/web"
--}}

<div class="p-5">
    {{#with web}}
    <div>
        <div class="mb-5">
            <h1>Languages:</h1>
        </div>

        <div class="row g-4">
            {{#each languages}}

            <div class="col-6">

                <div class="card h-100 p-4">

                    <div>
                        <h4 class="text-primary"><b>{{name}}</b></p>
                    </div>

                    <div>
                        <p><b>Version:</b> <span
                                class="badge text-light text-bg-primary rounded-pill mb-3">{{version}}</span></p>
                    </div>

                    <div>
                        <p><b>Description:</b> {{description}}</p>
                    </div>

                    {{#if elements}}
                    <div class="row g-4">
                        {{#each elements}}
                        <div class="col-6">
                            <div class="card h-100 p-3">
                                <div>
                                    <h4><b><code>{{name}}</code></b></h4>
                                </div>
                                <div>
                                    <p>Description: {{description}}</p>
                                </div>
                                <div>
                                    <p><b>Attributes:</b></p>
                                </div>
                                <div class="row g-4">
                                    {{#each attributes}}
                                    <div class="col-12">
                                        <div class="card h-100 p-3">
                                            <div>
                                                <p><em><code>{{name}}</code></em></p>
                                            </div>
                                            <div>
                                                <div>Description: {{description}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{/if}}

                    {{#if properties}}
                    <div class="row g-4">
                        {{#each properties}}
                        <div class="col-6">
                            <div class="card h-100 p-3">
                                <div>
                                    <h4><b><code>{{name}}</code></b></h4>
                                </div>
                                <div>
                                    <p>Description: {{description}}</p>
                                </div>
                                <div>
                                    <p><b>Values:</b></p>
                                </div>
                                <div class="row g-4">
                                    {{#each values}}
                                    <div class="col-12">
                                        <div class="card h-100 p-3">
                                            <div>
                                                <p><em><code>Value: {{value}}</code></em></p>
                                            </div>
                                            <div>
                                                <div>Description: {{description}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{/if}}

                    {{#if functions}}
                    <div class="row g-4">
                        {{#each functions}}
                        <div class="col-6">
                            <div class="card h-100 p-3">
                                <div>
                                    <h4><b><code>{{name}}</code></b></h4>
                                </div>
                                <div>
                                    <p>Description: {{description}}</p>
                                </div>
                                <div>
                                    <p><b>Parameters:</b></p>
                                </div>
                                <div class="row g-4">
                                    {{#each parameters}}
                                    <div class="col-12">
                                        <div class="card h-100 p-3">
                                            <div>
                                                <p><em>Name: <code>{{name}}</code></em></p>
                                            </div>
                                            <div>
                                                <p><em>Type: <code>{{type}}</code></em></p>
                                            </div>
                                            <div>
                                                <div>Description: {{description}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{/if}}

                </div>

            </div>

            {{/each}}
        </div>

    </div>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/web.hbs
Адже наш layout/web.hbs має вже структуру HTML
--}}